<!DOCTYPE html >
<html lang="en" ng-app="codecraft" >
<head >
	<title >Lists Of Things</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Lists Of Things
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="PersonsController">
  
  
    <div class="row">
        <div class="col-md-8">
            
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                </tr>
                <tr ng-repeat="person in persons"
                    ng-style="{'background-color': $index == selectedIndex ? 'lightgray' : ''}"
                    ng-click="selectPerson(person, $index)">
                    <td>{{ $index }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.birthdate | date:"longDate" }}</td>
                </tr>
            </table>
            
        </div>
        <div class="col-md-4">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    Details <span ng-show="selectedP">of {{selectedPerson.name}}</span>
                </div>
                <div class="panel-body">
                   <dl ng-show="selectedP">
                       <dt>Name</dt>
                       <dd>{{ selectedPerson.name }}</dd>
                       <dt>Email</dt>
                       <dd>{{ selectedPerson.email }}</dd>
                       <dt>Birthday</dt>
                       <dd>{{ selectedPerson.birthdate | date:"longDate" }}</dd>
                       <dt>Phone</dt>
                       <dd>{{ selectedPerson.phonenumber }}</dd>
                       <dt>Adress</dt>
                       <dd>{{ selectedPerson.adress }}</dd>
                       <dt>City</dt>
                       <dd>{{ selectedPerson.city }}</dd>
                       <dt>Country</dt>
                       <dd>{{ selectedPerson.country }}</dd>
                   </dl>
                </div>
            </div>
            
        </div>
    </div>
   
    
    
</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >
</body >
</html >
