<!DOCTYPE html >
<html lang="en" ng-app="minmax">
<head >
	<title >Form Submission</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form Submitting
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="MinMaxCtrl">

	<form ng-submit="onSubmit(theForm.$valid)" name="theForm" novalidate="novalidate">
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
                   ng-model="formModel.name"
			       id="name" >
		</div >

		<div class="form-group" >
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
                   ng-model="formModel.email"
			       id="email"
                   required="required"
                   name="email">
		</div >

		<div class="form-group" >
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
                   ng-model="formModel.username"
			       id="username" >
		</div >

		<div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
                   ng-model="formModel.age"
			       id="age" >
		</div >

		<div class="form-group" >
			<label for="sex" >Sex</label >
			<select name="sex"
			        id="sex"
				    class="form-control" 
                    ng-model="formModel.sex"
                    >
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
                   ng-model="formModel.password"
			       id="password" >
		</div >

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Register
			</button>
		</div>

	</form >

    <pre>{{ theForm | json }}</pre>

</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >


</body >
</html >
