<!DOCTYPE html >
<html lang="en" ng-app="minmax" >
<head >
	<title >Form Validation - Part 1</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form Validation - Part 1
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="MinMaxCtrl" >

	<form name="theForm" ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate">
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.name"
			       id="name" >
		</div >

		<div class="form-group" ng-class="
                                          {
                                            'has-error':!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted),
                                            'has-success':theForm.email.$valid && (!theForm.$pristine || theForm.$submitted)
                                          }
                                          ">
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
			       ng-model="formModel.email"
			       id="email"
			       name="email"
			       required="required" >
            
            <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
                This field is required
            </p>
            <p class="help-block" ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">
                Please enter an email with at least an @ symbol
            </p>
            
<!--
            <pre>Validation {{ theForm.email.$error | json }}</pre>
            <pre>Field valid? {{ theForm.email.$valid }}</pre>
            <pre>Form Pristine? {{ theForm.$pristine }}</pre>
            <pre>Form Submitted? {{ theForm.$submitted }}</pre>
-->
		</div >

		<div class="form-group" >
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.username"
			       id="username" >
		</div >

		<div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
			       ng-model="formModel.age"
			       id="age" >
		</div >

		<div class="form-group" >
			<label for="sex" >Sex</label >
			<select name="sex"
			        id="sex"
			        class="form-control"
			        ng-model="formModel.sex" >
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
			       ng-model="formModel.password"
			       id="password" >
		</div >

		<div class="form-group" >
			<button class="btn btn-primary"
			        type="submit" >Register
			</button >
		</div >

	</form >

	<pre>{{ theForm | json }}</pre>

</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >


</body >
</html >
