<!DOCTYPE html >
<html lang="en"
      ng-app="codecraft" >
<head >
	<title >Scope</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css"
	      rel="stylesheet" >
	<link href="main.css"
	      rel="stylesheet" >
</head >

<body >


<div class="container" >

	<div class="row" >
		<div class="col-md-6" >
			<div class="parent" ng-controller="ParentController" >
				<label >
					<input type="text"
					       ng-model="name" />
				</label >
				<p >{{name}}</p >
				
				<div class="child" ng-controller="ChildController" >
                    <label >
                        <input type="text"
                               ng-model="name" />
                    </label >
                    <button class="btn" ng-click="reset()">Reset</button>
				    <p >{{name}}</p >
			    </div >
			</div >
		</div >
	</div >
</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >
</body >
</html >
