<!DOCTYPE html >
<html lang="en" ng-app="minmax">
<head >
	<title >Form Validation - Part 3</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="../libs/ladda/dist/ladda-themeless.min.css" rel="stylesheet" >
    
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form Validation - Part 3
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="MinMaxCtrl">

	<form ng-submit="onSubmit()"
				novalidate="novalidate">
		<div class="form-group" >
			<label for="name" class="control-label">Name</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.name"
			       id="name"
					   required="required" >
		</div >

		<div class="form-group">
			<label for="email" class="control-label">Email</label >
			<input type="email"
			       class="form-control"
			       ng-model="formModel.email"
			       id="email"
					   required="required" >
		</div >

		<div class="form-group" >
			<label for="username" class="control-label">Username</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.username"
			       ng-pattern="/^[A-Za-z0-9_]{1,32}$/"
			       ng-minlength="7"
			       ng-pattern-err-type="badUsername"
			       id="username"
			       required="required" >
		</div >

		<div class="form-group" >
			<label for="age" class="control-label">Age</label >
			<input type="number"
			       class="form-control"
			       ng-model="formModel.age"
			       min="18"
			       max="64"
			       id="age"
			       ng-min-err-type="tooYoung"
			       ng-max-err-type="tooOld"
			       required="required" >
		</div >

		<div class="form-group" >
			<label for="sex" class="control-label">Sex</label >
			<select id="sex"
							class="form-control"
							ng-model="formModel.sex"
							required="required" >
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" class="control-label">Password</label >
			<input type="password"
			       class="form-control"
			       ng-model="formModel.password"
			       id="password"
			       required="required"
						 ng-minlength="10">
		</div >

		<div class="form-group">
			<button class="btn btn-primary"
							type="submit"
                            ladda="submitting"
                            data-style="expand-right">
                        <span ng-show="submitting">Registering</span>    
                        <span ng-show="!submitting">Register</span>    
			</button>
		</div>

	</form >

	<pre>{{ formModel | json }}</pre>

</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="../libs/angular-auto-validate/dist/jcs-auto-validate.min.js" ></script >
<script src="../libs/ladda/dist/spin.min.js" ></script >
<script src="../libs/ladda/dist/ladda.min.js" ></script >
<script src="../libs/angular-ladda/dist/angular-ladda.min.js" ></script >
    
<script src="main.js" ></script >


</body >
</html >
