<!DOCTYPE html >
<html lang="en" ng-app="minmax">
<head >
	<title >Form Validation - Part 2</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	
    
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form Validation - Part 2
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="MinMaxCtrl">

	<form ng-submit="onSubmit()"
				novalidate="novalidate">
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.name"
			       id="name"
                   required="required">
		</div >

		<div class="form-group">
			<label for="email" class="control-label">Email</label >
			<input type="email"
			       class="form-control"
			       ng-model="formModel.email"
			       id="email"
					   required="required">

		</div >

		<div class="form-group" >
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.username"
			       id="username"
                   required="required"
                   ng-pattern="/^[A-Za-z0-9_]{1,32}$/"
                   ng-minlength="7"
                   ng-pattern-err-type="badUsername">
		</div >

		<div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
			       ng-model="formModel.age"
			       id="age"
                   min="18"
                   max="64"
                   ng-min-err-type="tooYoung"
                   ng-max-err-type="tooOld"
                   required="required">
		</div >

		<div class="form-group" >
			<label for="sex" >Sex</label >
			<select id="sex"
							class="form-control"
							ng-model="formModel.sex"
                    required="required">
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
			       ng-model="formModel.password"
			       id="password"
                   required="required"
                   ng-minlength="10">
		</div >

		<div class="form-group">
			<button class="btn btn-primary"
							type="submit">Register
			</button>
		</div>

	</form >

	<pre>{{ formModel | json }}</pre>

</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="../libs/angular-auto-validate/dist/jcs-auto-validate.min.js" ></script >
    
<script src="main.js" ></script >


</body >
</html >
